{% extends "wrapper.twig" %}
{% block content %}

{% if booking.IsPaidEvent == 0 %}
<div class="alert alert-{{bootstrapAlertType}}" role="alert">{{message}}</div>
<div class="row">
	<div class="col-xs-6 text-left"><a href="?"><button type="button" class="btn btn-warning">{{ back }}</button></a></div>
</div>
{% else %}
<div class="alert alert-{{bootstrapAlertType}}" role="alert">{{pleasePay}}</div>
<div class="col-xs-6 text-left"><a href="{{result}}"><button type="button" class="btn btn-warning">{{pay}}</button></a></div>
{% endif %}

{% endblock  %}
