{% extends "wrapper.twig" %}
{% block content %}

 <!-- <div class="row">-->
{% if isError %}
<div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{% endif %}

{% if hideSearchForm == false %}
<div class="row">
  <div class="col-xs-12 text-left">
    <h2>{{ searchForEventsBetween }}</h2>
  </div>
</div>

<form action="" method="post" id="submitDateSearch">

  <div class="form-group">
    <label for="fromDate">{{ fromLabel }}</label>
    <input id="fromDate" data-value="{{fromDate}}" class="datepickerFrom form-control" name="fromDate" type="text" >
  </div>
  <div class="form-group">
    <label for="toDate">{{ toLabel }}</label>
    <input id="toDate" data-value="{{toDate}}" class="datepickerTo form-control" name="toDate" type="text"  >
  </div>

  {% if bookableItemSelectedByShortcode is null  %}
  <div class="form-group">
    <label for="bookableItems">{{ bookableItemsLabel }}</label>
    <select class="form-control" id="bookableItems" name="bookableItems" onchange="this.form.submit()">
      {% set nb = 0 %}
      {% for item in bookableItems %}
      <option {% if nb == selectedId %}selected{% endif %} value="{{nb}}">{{item.Name}}</option>
      {% set nb = nb +1 %}
      {% endfor %}
    </select>
  </div>
{% endif %}

<div class="form-group">
  <label for="location">{{ locationLabel }}</label>
  <input type="text" class="form-control" placeholder="{{locationValue}}" readonly>
</div>
<div class="form-group">
  <label for="description">{{ descriptionLabel }}</label>
  <input type="text" class="form-control" placeholder="{{ descriptionValue }}" readonly>
</div>

</form>
<div id="container"></div>

<!-- TODO : Check why this made a TypeError: undefined is not an object (evaluating 'jQuery.fn.pickatime.defaults') -->
{% if pickerTranslated|length > 0 %}
<script type="text/javascript">
{{pickerTranslated|raw }}
</script>
{% endif %}

<script type="text/javascript">
var $input = jQuery('.datepickerFrom').pickadate({
  format: '{{dateFormat}}',
  formatSubmit: 'd m yyyy',
  container: '#container',
  closeOnSelect: true,
  closeOnClear: false
})
var picker = $input.pickadate('picker')
</script>

<script type="text/javascript">
var $input = jQuery('.datepickerTo').pickadate({
  format: '{{dateFormat}}',
  formatSubmit: 'd m yyyy',
  container: '#container',
  closeOnSelect: true,
  closeOnClear: false
})
var picker = $input.pickadate('picker')
</script>

<script type="text/javascript">
jQuery(document).ready(function ($) {

  $("#fromDate").change(function() {
    $("#submitDateSearch").submit();
  });

  $("#toDate").change(function() {
    $("#submitDateSearch").submit();
  });
});
</script>

{% endif %}
{% block searchResult %}

{% endblock %}
{% endblock %}
