{% extends "search.twig" %}

{# This view will display result #}

{% block searchResult %}

{% if hideSearchForm == false %}

<br/>
<div class="form-group">
  <label for="description">{{ clickAnEventToBookIt }}</label>
</div>

{% if availability is empty %}
<div class="alert alert-warning" role="alert">{{ warningNoBookingFound }}</div>
{% else %}
  {# Booking list #}
  <ul class="list-group">
    {% for event in availability|slice((paginationSelected-1)*10,10) %}
    {% if event.IsPaidEvent == true%}
    {# currentUrl should not be the last value for compatiblity reason with some WP theme like DIVI (WP-43) #}
    <a href="{{pageUrl}}?{{existingUrlQuery}}bookableItemName={{bookableItemName}}&bookableItemId={{bookableItemId}}&EventIdentifier={{event.EventIdentifier}}&DateDisplay={{event.DateDisplay}}&EventScheduleId={{event.EventScheduleId}}&isPaidEvent=1&paymentAmount={{event.PaymentAmount}}&paymentCurrency={{event.PaymentCurrency}}&currentUrl={{currentUrl}}#sagenda&eventTitle={{event.EventTitle}}"> <li class="list-group-item"><span class="badge">{{bookIt}}</span>{{event.DateDisplay}} : {{event.PaymentAmount}} {{event.PaymentCurrency}} : Paid Event : {{event.EventTitle}}</li></a>
    {% else %}
    <a href="{{pageUrl}}?{{existingUrlQuery}}bookableItemName={{bookableItemName}}&bookableItemId={{bookableItemId}}&EventIdentifier={{event.EventIdentifier}}&DateDisplay={{event.DateDisplay}}&EventScheduleId={{event.EventScheduleId}}&isPaidEvent=0&currentUrl={{currentUrl}}#sagenda&eventTitle={{event.EventTitle}}"> <li class="list-group-item"><span class="badge">{{bookIt}}</span>{{event.DateDisplay}} : {{event.EventTitle}}</li></a>
    {% endif %}
    {% endfor %}
  </ul>

  {# Pagination #}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if paginationSelected == 1 %}
      <li class="disabled">
        <a aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li >
        <a href="{{pageUrl}}?{{existingUrlQuery}}paginationSelected={{paginationSelected-1}}&bookableItems={{selectedId}}&fromDate_submit={{fromDate}}&toDate_submit={{toDate}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for i in 1..paginationStep %}
      <li{% if paginationSelected == i %} class="active"{% endif %}><a href="{{pageUrl}}?paginationSelected={{i}}&bookableItems={{selectedId}}&fromDate_submit={{fromDate}}&toDate_submit={{toDate}}">{{i}}</a></li>
      {% endfor %}

      {% if paginationSelected == paginationStep %}
      <li class="disabled">
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li >
        <a href="{{pageUrl}}?paginationSelected={{paginationSelected+1}}&bookableItems={{selectedId}}&fromDate_submit={{fromDate}}&toDate_submit={{toDate}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>

{% endif %}
{% endif %}
{% endblock %}
